<h1>Editing user_result</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', @user_result %> |
<%= link_to 'Back', user_results_path %>


<% @user_results.each do |ur| %>
    <p>
      Question:<%= ur.question_id %>
      Score:<%= ur.score %>
    </p>
<% end %>