<%= form_for(@test) do |f| %>

    <%= f.fields_for :questions do |question| %>
        <p>
          <%= question.label :name, 'Question' %><br/>
          <%= question.text_field :name %><br/>
        </p>
        <%= question.fields_for :answers, :url => url_for(:controller => 'answers', :action => 'update') do |answer| %>
            <p>
              Answer name:<%= answer.text_field :name %>
              Right? <%= answer.check_box :is_right %>
            </p>
        <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



<<<<<<< HEAD
<%= form_for @test, url: {action: 'update'} do |f| %>

  <% @test.questions.each do |q| %>

    <%= f.fields_for q do |question| %>
        <p>
          <%= question.label :name, 'Question' %><br/>
          <%= question.text_field :name %><br/>
        </p>
        <%= question.fields_for :answers, :url => url_for(:controller => 'answers', :action => 'update') do |answer| %>
            <p>
              Answer name:<%= answer.text_field :name %>
              Right? <%= answer.check_box :is_right %>
            </p>
        <% end %>
    <% end %>

  <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

=======
>>>>>>> 523b872f22551658acf88e7c56c416eb73260666
