<%= form_for(@test) do |f| %>

    <div class="field">
      <%= f.label :name, 'Test' %><br>
      <%= f.text_field :name %><br/>
    </div>

    <%= f.fields_for :questions do |question| %>

        <p>
          <%= question.label :name, 'Question' %><br/>
          <%= question.text_field :name %><br/>
        </p>

        
        <%= question.fields_for :answers do |answer| %>
 
          
            <%= answer.radio_button :is_right, value: @test.id %>
        
        <% end %>
        

    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>




<% @user_results.each do |ur| %>
        <%= form_for ur do |f| %>

            <% ur.question.answers.each do |a| %>
              <%= f.radio_button :score, a.id.to_i %>
            <% end %>

          <%= f.submit %>
        <% end %>
<% end %>

